

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {%include 'admin_header.html'%}


<br><br><br><br>

    <center>

    <table border="2"  class="table table-primary" style="width: 1500px;">
        <tr>
            <th>Sl.no</th>
            <th>Title</th>
            <th>Description</th>
            <th>Reply</th>
            <th>Date</th>
            <th></th>
        </tr>

        {%for i in data['complaints']%}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{i['title']}}</td>
            <td>{{i['description']}}</td>
            <td>{{i['reply']}}</td>
            <td>{{i['date']}}</td>
            <td><a href="/admin_send_reply?id={{i['complaints_id']}}" class="btn btn-outline-danger">Send Reply</a></td>
        </tr>

        {%endfor%}

    </table>
</center>

<br><br><br><br>

    {%include 'footer.html'%}
    
    
</body>
</html>